.anasayfa-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:black
}

.video-container {
    display: flex;
    justify-content: center; /* Video sağa yaslanır */
    padding-bottom:50px;
    margin-bottom: 20px; /* Aşağıya 20px boşluk bırakır */
}
  
  .anasayfa-video {
    width: 60%; /* Sayfanın yarısını kaplar */
    height: auto;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

