/* Footer için genel stil */
.footer {
  background-color: #232222;  /* Light mode için */
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Footer'ı sayfanın en altına itmek için */
}

/* Dark mode'da footer'ı düzenleyin */
body.dark-mode .footer {
  background-color: #121212;  /* Dark mode footer */
  color: white;
}

/* Footer içeriği */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Sosyal bağlantılar */
.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.social-links a:hover {
  color: #0077b5; /* LinkedIn rengi örneği */
}

.social-links i {
  margin-right: 8px; /* İkon ile metin arasına boşluk ekler */
}
.social-links .fa-github {
  color: #6a5da3; /* GitHub rengi */
}

.social-links .fa-linkedin {
  color: #0077b5; /* LinkedIn mavi */
}

.social-links .fa-instagram {
  color: #e4405f; /* Instagram pembe */
}

/* Contact Sayfasına özel düzenleme */
#contact {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Sayfanın tüm yüksekliğini kapsar */
}

#contact .contact-content {
  flex-grow: 2; /* İçeriğin alanını genişletir */
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
