:root {
  --body_background: white;
  --body_color: black;
  --link_color: navy;
}

[data-theme= "dark"] {
  --body_background: #282c34;
  --body_color: white;
  --link_color: cyan;
  
}


/* Genel stil ayarları */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Header */
header {
  background-color: #4caf50;
  padding: 1rem;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Section başlıkları */
section {
  padding: 2rem;
  text-align: center;
}

section h1 {
  font-size: 2rem;
  color: #4caf50;
  margin-bottom: 1rem;
}
